<div class="jumbotron center">
<ul class="nav nav-pills">
  <li class="active"><a href="#">Marketing</a></li>
  <li><a href="#">US</a></li>
</ul>
<br>
<div class="alert alert-success alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <strong>BKCollab!</strong> Share, learn, and collaborate together!
</div>
<br>
<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <span class="glyphicon glyphicon-search">
            Search
          </span>
        </a>
      </h4>
    </div>
     <div id="collapseOne" class="panel-collapse collapse">
    <div class="panel-body">
          <input type="radio">
          <span class="label label-default">By Division</span>
          <input type="radio">
          <span class="label label-primary">By Quarter</span>
          <input type="radio">
          <span class="label label-success">By Product</span>
          <input type="radio">
          <span class="label label-info">Brand Identity</span>
          <input type="radio">
          <span class="label label-warning">Market Fit</span>
          <input type="radio">
          <span class="label label-danger">Brand Identity</span>
          <div class="row">
      <br>
            <div class="col-lg-6 col-lg-push-3">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-warning btn-center" type="button">Search</button>
                </span>
                <input type="text" class="form-control" placeholder="Ex. Whopper Analysis">
              </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
          </div>
      </div>
    </div>
  </div>
<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
          <%= link_to image_tag(pin.image.url(:medium)), pin %>
        <div class="panel-body">
         <p><%= pin.description %></p>
          <strong><%= pin.user.name if pin.user %></strong>

          <% if current_user && (pin.user == current_user) %>
                
                <div class="actions">
                  <%= link_to edit_pin_path(pin) do %>
                    <span class="glyphicon glyphicon-pushpin"></span>
                    Edit
                  <% end %>
                <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
                 <span class="glyphicon glyphicon-trash"></span>
                  Delete
                 <% end %>
                </div>
      <% end %> 
      </div>  
    </div>
      <% end %>
</div>
<div class="center">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>
</div>